
div.left-holder,
div.right-holder
{
    padding-top:180px;
    height:100%;   
    width:28%;
    position:relative;
    min-height:700px;
    z-index:-1;
    overflow:hidden;
}
div.left-holder
{
    float:left;
    text-align:right;
    direction:rtl;
}
div.right-holder
{
    float:right;
    text-align:left;
}
.decoholder
{
    /*position:relative;*/
    background:color:white;
}

.decoholder img
{
    margin:20px 0px;
}

.deco
{
    font-family:'ubuntu', sans;
    white-space:nowrap;
}

.deco.st1
{
    font-size:130px;
}
.deco.st2
{
    font-size:30px;
}
.deco.st3
{
    font-size:70px;
}

div.mid-holder
{
    width:44%;
    margin:0px auto;

}


@font-face {
  font-family: "ubuntu";
  src: url('../fonts/ubuntu.ttf') format("truetype");
}

@font-face {
  font-family: "russo";
  src: url('../fonts/Russo_One.ttf') format("truetype");
}

@font-face {
    font-family: "bookmanoldstyle";
    src: url('../fonts/bookmanoldstyle.ttf') format("truetype");
}
div.article-content
{

    background-color:#f1f1f1;
    padding:20px 5%;
    box-shadow: 6px 0px 42px 10px #000;
    z-index:5;
    width:90%;

}
div.article-content p,
div.article-content dl,
div.article-content ul
{
    font-size:14px;
    font-family:"Nimbus Roman No9 L", serif;
    line-height:20px;
}
div.article-content dt
{
    font-family:"Nimbus Roman No9 L", serif;
    font-weight:bold;
}

h1
{
    font-size:47px;
}
h2 {
    font-size:34px;
}
h3 {
    font-size:23px;
}
h1, h2, h3
{
    font-family:bookmanoldstyle;
    font-weight:normal;
}
.header
{
    width:100%;
    height:70px;
    padding:50px 0px;
}

a.logo
{
    background-image:url("../img/logo.png");
    width:211px;
    height:32px;
    display:block;
    margin-top;70px;
    float:left;
}


.search-content
{
}

a.logo-large
{
    margin-top:200px;
    min-height:111px;
    display:block;
    margin-top;70px;
}

a.logo-large img
{
    width:100%;

}

.search-content input#id_search_field
{
    border:1px solid #bebebe;
    padding: 3px;
    width:84%;
}

.search-content button
{
    margin:0px;
    height:29px;
    border:1px solid #bebebe;
    background:#838383 url("../img/search-icon.png") 45% 45% no-repeat;
    border:1px solid #bebebe;
    border-radius:3px;
    width:13%;
    vertical-align: bottom;
    
}
.search-content button:hover,
.header button:hover
{
    background-color:#b0b0b0;
}

.header form input#id_search_field
{
    border:1px solid black;
    width:190px;
    height:28px;
    margin:0px 2px 0px 10px;
}
.header form 
{

    float:right;
    display:none;
    
}
.header form button
{
    margin:0px;
    height:32px;
    border:1px solid #bebebe;
    background:#838383 url("../img/search-icon.png") 45% 45% no-repeat;
    border-radius:3px;
    width:43px;
    vertical-align: bottom;
    
}

#search_descr
{
    font-size:12px;
    color:black;
    font-family:'ubuntu', sans;
    display:none;
    margin:10px 14%;
    text-align:right;
}



.footer-container
{
    min-height:200px;
    width:100%;
    margin-top:200px;
}

#footer-text
{
    font-size:12px;
    color:black;
    font-family:'ubuntu', sans;
    display:none;
}
